:root{
    --pizza-red: 234, 57, 39;
    --pizza-red-dark: 45, 5, 6;
    --pizza-yellow: 255, 210, 57;
    --pizza-yellow-light: 239, 205, 115;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-manrope {
    font-family: 'Manrope', sans-serif;
}

.overlay-effect {
    box-shadow: 0 0 0 100vmax rgba(0,0,0,0.6);
}

.bg-dark {
    background-color: #161616;
}

@tailwind base;
@tailwind components;
@tailwind utilities;